<a href="https://colab.research.google.com/github/tanya172/ChatBot/blob/main/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("hi");

hi

In [2]:
a=int(input("Enter a"));
b=int(input("Enter b"));
c = a+b;
print(c);

Enter a5
Enter b5
10

In [1]:
print("")

In [2]:
print("    /|")
print("   / |")
print("  /  |")
print(" /   |")
print("/____|")

    /|
   / |
  /  |
 /   |
/____|

In [10]:
name="yaya"
print(len(name))

4

In [12]:
collegeName="Ajay Kumar Garg";
print(collegeName.replace("Ajay Kumar","AK"));

AK Garg

In [15]:
from math import *
print(floor(3.7))

3

In [18]:
name = input("whats your name?");
print("hi " + name + "!");

whats your name?tanya
hi tanya!

In [2]:
food=["ice-cream","waffle","waffle","waffle","waffle","pastry"]
print(food.count("waffle"));

4

In [4]:
def add_num ():
  return a+b;

a=5
b=6;
add_num()

11

In [9]:
def chocolate(name,count):
  print(name + " you have " + str(count) + " chocolates.")

chocolate("Tanya",10);
chocolate("Kitanu",50);

Tanya you have 10 chocolates.
Kitanu you have 50 chocolates.

In [11]:
def cube_num(a,b):
  return pow(a,b);

a=cube_num(26,3);
print("Cube of given number is " + str(a));

Cube of given number is 17576

In [3]:
#calculator


num1=float(input("First number"));
num2=float(input("Second number"));
op=input("Enter operator");

if op=="+":
  print(num1+num2)

elif op=='-':
  print(abs(num1-num2))

elif op=='*':
  print(num1*num2)

elif op=='/':
  print(num1//num2);

else:
  print("Invalid operator");

First number5
Second number2
Enter operator/
2.0

In [6]:
i=1
while i<=10:
  print(i)
  i=i+1

1
2
3
4
5
6
7
8
9
10